<%= render 'layouts/stateline'%>

<%if session[:account_type] == "educator"%>
  <%= render 'layouts/educatorsidebar2' %>
<%else%>
  <%= render 'layouts/curatorsidebar2' %>
<%end%>

<br>
<div class="div_page_background">
  <label class="label_page_title">Account Management</label><br><br>
  <div class="div_account">

    <div class="div_am_left">
      <label class="label_am_title">Profiles</label><br>
      <button class="button_am" data-toggle="modal" data-target="#edit_profile"></button>
    </div>

    <div class="div_am_right">
      <div class="div_page_left">
        <label class="label_am_key">Username</label>
      </div>
      <div class="div_page_right">
          <label class="label_am_value"><%=@aim_user["username"]%></label>
      </div><br>
      <hr class="hr_am"></hr>

      <div class="div_page_left">
        <label class="label_am_key">Email</label>
      </div>
      <div class="div_page_right">
        <label class="label_am_value"><%=@aim_user["email"]%></label>
      </div><br>
      <hr class="hr_am"></hr>
      <div class="div_page_left">
        <label class="label_am_key">Department</label>
      </div>
      <div class="div_page_right">
        <label class="label_am_value"><%=@aim_user["department"]%></label>
      </div><br>
      <hr class="hr_am"></hr>
      <div class="div_page_left">
        <label class="label_am_key">Password</label>
      </div>
      <div class="div_page_right">
        <button class="button_resetpw" data-toggle="modal" data-target="#reset_password">Reset</button>
      </div><br>
    </div>
  </div>


</div>



<div class="modal fade" id="edit_profile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content edit_modal_frame">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:5px;margin-right:10px;">
        &times;
      </button>

      <div class="modal-body edit_modal_container">
        <form action = '/user/profile_update' method = "POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p><br>
          <h4><%= flash[:edit_dealer_info_error] %></h4>
          <input name="id" type="hidden" value="<%=@aim_user["id"]%>">
          <label class="label_title">Username</label><br>
          <input type="text" name="username" required="true" class="input_edit" value="<%=@aim_user["username"]%>"><br>
          <label class="label_title">Email</label><br>
          <input type="text" name="email" required="true" class="input_edit" value="<%=@aim_user["email"]%>"><br>
          <label class="label_title">Department</label><br>
          <input type="text" name="department" required="true" class="input_edit" value="<%=@aim_user["department"]%>"><br>
        </p>
        <input type="submit" class="button_profile_update btn-success" value="Update"><br>
        </form>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="reset_password" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content reset_modal_frame">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:5px;margin-right:10px;">
        &times;
      </button>

      <div class="modal-body edit_modal_container">
        <form action = '/user/password_update' method = "POST" onsubmit='return pwCheck()'>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p><br>
          <h4><%= flash[:edit_dealer_info_error] %></h4>
          <input name="id" type="hidden" value="<%=@aim_user["id"]%>">
          <label class="label_title">New Password</label><br>
          <input id="pwd1" type="password" name="password1" required="true" class="input_edit"><br>
          <label class="label_title">Confirmation</label><br>
          <input id="pwd2" type="password" name="password2" required="true" class="input_edit"><br>
        </p>
        <input type="submit" class="button_profile_update btn-success" value="Update"><br>
        </form>
      </div>

    </div>
  </div>
</div>
