<%if session[:account_type] == "educator"%>
  <%= render 'layouts/educatorsidebar' %>
<%else%>
  <%= render 'layouts/curatorsidebar' %>
<%end%>

<%= render 'layouts/stateline'%>

<br>

<div class="div_page_background">
  <div class="div_cm_left">
    <label class="label_page_title">Course Details</label>
  </div>
  <div class="div_cm_right">
    <%if session[:account_type] == "educator"%>
      <%if follow_state(params["id"], session[:current_user_id])%>
        <form method="post" action="/user/unfollow_course">
          <div class="div_page_left">
            <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
            <input type="hidden" name="course_id" value="<%=@aim_course["id"]%>">
            <input type="hidden" name="user_id" value="<%=session[:current_user_id]%>">
            <input type="submit" class="radio_on" value="">
          </div>
          <div class="div_page_left">
            <label class="label_follow">Follow</label>
          </div>
        </form>
      <%else%>
        <form method="post" action="/user/follow_course">
          <div class="div_page_left">
            <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
            <input type="hidden" name="course_id" value="<%=@aim_course["id"]%>">
            <input type="hidden" name="user_id" value="<%=session[:current_user_id]%>">
            <input type="submit" class="radio_off" value="">
          </div>
          <div class="div_page_left">
            <label class="label_follow">Follow</label>
          </div>
        </form>
      <%end%>
    <%end%>
  </div>
  <br><br>

  <!--
  <div class="div_course_detail_background">
    <table border="8" class="table_course_info" rules="none" cellspacing="10">
    <tr>
      <th>Course Name</th>
      <td>MIT 8.0111 Spring 2011</td>
    </tr>
    <tr>
      <th>Course ID</th>
      <td>MIT80111SPRING2011</td>
    </tr>
    <tr>
      <th>Department</th>
      <td>Univeristy Physics with Modern Physics, 12e</td>
    </tr>
      <th>Curator</th>
      <td>Young/Freeman</td>
    </table>
  </div>
  -->

  <div class="div_meta_background">

    <div class="div_cd_left">
      <label class="label_dtitle">Metadata</label><br>
      <%if session[:account_type] == 'curator' %>
        <button class="button_metadata" data-toggle="modal" data-target="#metadata"></button>
      <%end%>
    </div>
    <div class="div_cd_right">
      <div class="div_page_left">
        <label class="label_cd_key">Course Name</label>
      </div>
      <div class="div_page_right">
          <label class="label_cd_value"><%=@aim_course["course_name"]%></label>
      </div><br>
      <hr class="hr_cd"></hr>
      <div class="div_page_left">
        <label class="label_cd_key">Course ID</label>
      </div>
      <div class="div_page_right">
        <label class="label_cd_value"><%=@aim_course["course_id"]%></label>
      </div><br>
      <hr class="hr_cd"></hr>
      <div class="div_page_left">
        <label class="label_cd_key">Department</label>
      </div>
      <div class="div_page_right">
          <label class="label_cd_value"><%=@aim_course["department"]%></label>
      </div><br>
      <hr class="hr_cd"></hr>
      <div class="div_page_left">
        <label class="label_cd_key">Curator</label>
      </div>
      <div class="div_page_right">
          <label class="label_cd_value"><%=@aim_course["curator"]%></label>
      </div><br>
    </div>
  </div><br>



  <div class="div_ci_left">
    <label class="label_ittitle">Course Atoms</label>
  </div>

  <div class="div_ci_right">
    <%if session[:account_type] == 'curator' %>
      <!--a href="/user/new_course" class="a_createnewi">Add New</a-->
      <a href="javascript:void(0);" class="a_createnewi" data-toggle="modal" data-target="#cni">Add New</a>
    <%end%>
  </div>

  <table border="1" class="table_course_info" frame="void" rules="none" cellspacing="10">
    <tr>
      <th class="td_item">#</th>
      <th width=10%>AUTHOR</th>
      <th width=20%>TITLE</th>
      <th width=5%>TIME</th>
      <th width=8%>DIFFICULTY</th>
      <th width=5%>IRT</th>
      <th width=12%>TOPIC1</th>
      <th width=12%>TOPIC2</th>
      <th width=10%>TAGS</th>
      <%if session[:account_type] == 'curator' %>
        <th width=14%>MANAGEMENT</th>
      <%end%>
    </tr>
    <%count = 0%>
    <%@aim_course["atoms"].each do |atom|%>
      <%aim_atom = Atom.find(atom.to_i)%>
      <%if aim_atom["state"] == 0%>
        <%count += 1%>
        <tr>
          <td class="td_item"><%=count%></td>
          <td>
            <label class="label_primary"><%=aim_atom["author"]%></label><br>
            <label class="label_secondary"><%=aim_atom["institution"]%></label>
          </td>
          <td>
            <form method="get" action="/courses/detail/items">
              <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
              <input name="aid" type="hidden" value="<%=aim_atom["id"]%>">
              <input type="submit" class="button_link" value="<%=aim_atom["title"]%>"></input><br>
            </form>
            <label class="label_item_description"><%=aim_atom["description"]%></label>
          </td>
          <!--td><%=aim_atom["time"]%></td>
          <td><%=aim_atom["difficulty"]%></td-->
          <td>Nil</td>
          <td>Nil</td>
          <td>Nil</td>
          <td>
            <label class="label_primary"><%=aim_atom["topic1"]%><br>
            <label class="label_secondary"><%=aim_atom["lo1"]%>
          </td>
          <td>
            <label class="label_primary"><%=aim_atom["topic2"]%><br>
            <label class="label_secondary"><%=aim_atom["lo2"]%>
          </td>
          <td>
            <label class="label_primary"><%=aim_atom["tags"]%>
          </td>
          <%if session[:account_type] == 'curator' %>
            <td>
              <form method="get" action="/courses/detail/items" class="form_edit">
                <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
                <input name="aid" type="hidden" value="<%=aim_atom["id"]%>">
                <input type="submit" class="btn-success button_item_edit" value="Edit">
              </form>
              <!--button class="btn-success button_item_edit" data-toggle="modal" data-target="#eni">Edit</button-->
              <!--button class="btn-danger button_item_edit">Delete</button-->
              <form method="post" action="/courses/delete_atom" class="form_edit">
                <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
                <input name="aid" type="hidden" value="<%=aim_atom["id"]%>">
                <input type="hidden" name="cid" value="<%=@aim_course["id"]%>">
                <input type="submit" class="btn-danger button_item_edit" value="Delete" onclick="javascript:return del()">
              </form>
            </td>
          <%end%>
        </tr>
      <%end%>
    <%end%>
  </table>
</div>

<div class="modal fade" id="metadata" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal_metadata_frame">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:5px;margin-right:10px;">
        &times;
      </button>
      <div class="modal-body edit_modal_container">
        <form action = '/user/update' method = "post">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p><br>
          <input type="hidden" name="id" value="<%=@aim_course["id"]%>">
          <label class="label_title">Course Name</label><br>
          <input type="text" name="course_name" required="true" class="input_edit" value="<%=@aim_course["course_name"]%>"><br>
          <label class="label_title">Course ID</label><br>
          <input type="text" name="course_id" required="true" class="input_edit" value="<%=@aim_course["course_id"]%>"><br>
          <label class="label_title">Department</label><br>
          <input type="text" name="department" required="true" class="input_edit" value="<%=@aim_course["department"]%>"><br>
          <label class="label_title">Curator</label><br>
          <input type="text" name="curator" required="true" class="input_edit" value="<%=@aim_course["curator"]%>"><br>
        </p>
        <input type="submit" class="button_cd_update btn-success" value="Update"><br>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cni" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal_item_frame">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:5px;margin-right:10px;">
      &times;
      </button>
      <div class="modal-body modal_container">
        <form action = '/courses/create_atom' method = "POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p><br>
          <input type="hidden" name="cid" value="<%=@aim_course["id"]%>">
          <label class="label_title">Title</label><br>
          <input type="text" name="title" required="true" class="input_edit"><br>
          <label class="label_title">One sentence description</label><br>
          <input type="text" name="description" required="true" class="input_edit"><br>
          <label class="label_title">Topic 1</label><br>
          <input type="text" name="t1" required="true" class="input_edit"><br>
          <label class="label_title">Learning Object 1</label><br>
          <input type="text" name="lo1" required="true" class="input_edit"><br>
          <label class="label_title">Topic 2</label><br>
          <input type="text" name="t2" required="true" class="input_edit"><br>
          <label class="label_title">Learning Object 2</label><br>
          <input type="text" name="lo2" required="true" class="input_edit"><br>
          <label class="label_title">Tags (Please split with comma)</label><br>
          <input type="text" name="tags" required="true" class="input_edit"><br>
        </p>
        <input type="submit" class="button_cd_update btn-success" value="Add"><br>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="eni" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal_item_frame">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:5px;margin-right:10px;">
      &times;
      </button>
      <div class="modal-body modal_container">
        <form action = '#' method = "POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p><br>
          <label class="label_title">Title </label><br>
          <input type="text" name="title" required="true" class="input_edit" value="Understanding Work and Kinetc Energy">
          <br>
          <label class="label_title">Type</label><br>
          <input type="text" name="type" required="true" class="input_edit" value="Tutorial"><br>
          <label class="label_title">Time(m)</label><br>
          <input type="text" name="time" required="true" class="input_edit" value="19"><br>
          <label class="label_title">Point(credits)</label><br>
          <input type="text" name="point" required="true" class="input_edit" value="3"><br>
          <label class="label_title">Difficulty(5=hardest)</label><br>
          <input type="text" name="difficulty" required="true" class="input_edit" value="1"><br>
          <label class="label_title">Description</label><br>
          <textarea name="description" class="textarea_login" required="true">Contains several conceptual and computational questions related to the work-engergy theorem, including a derivation of the therorem in the case of constant acceleration.</textarea><br>
        </p>
        <input type="submit" class="button_cd_update btn-success" value="Add"><br>
        </form>
      </div>
    </div>
  </div>
</div>

<SCRIPT LANGUAGE=javascript>
function del() {
  var msg = "Are you sure? ";
  if (confirm(msg)==true){
    return true;
  }else{
    return false;
  }
}
</SCRIPT>
