<%if session[:account_type] == "educator"%>
  <%= render 'layouts/educatorsidebar' %>
<%else%>
  <%= render 'layouts/curatorsidebar' %>
<%end%>

<%= render 'layouts/stateline'%>

<br>
<div class="div_page_background">
  <div class="div_page_left">
    <label class="label_page_title">Course Management</label>
  </div>
  <div class="div_page_right" style="margin-top:23px;">
    <%if session[:account_type] == 'curator' %>
      <!--a href="/user/new_course" class="a_createnew">Create New</a-->
      <a href="javascript:void(0);" class="a_createnew" data-toggle="modal" data-target="#cnm">Create New</a>
      <a href="javascript:void(0);" class="a_import" data-toggle="modal" data-target="#myModal">Import</a>
    <%end%>
  </div>

  <div class="div_courses_background">
  <%if !@list.empty?%>

      <%@list.each do |course|%>
        <tr>
          <div class="div_courses_container_inactive">
            <label class="label_ctitle"><%=course["course_name"]%></label>
            <label class="label_cstate_ip">History</label><br>
            <label class="label_cid">(<%=course["course_id"]%>)</label><br>
            <label class="label_cinfo"><%=course["department"]%></label><br>
            <label class="label_cinfo"><%=course["curator"]%></label>
            <form method="get" action="/courses/detail">
              <input name="authenticity_token" type="hidden" value="<%=form_authenticity_token%>">
              <input name="id" type="hidden" value="<%=course["id"]%>">
              <input class="button_course_detail" type="submit" value="Detail">
            </form>
          </div>
        </tr>
      <%end%>

    <%else%>
      <%if session[:account_type] == "educator"%>
        <label class="label_searching_result">You have no following course. </label>
      <%else%>
        <label class="label_searching_result">Please create a course. </label>
      <%end%>
    <%end%>
  </div>

</div>


<div class="modal fade" id="cnm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content modal_metadata_frame">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:5px;margin-right:10px;">
      &times;
      </button>
      <div class="modal-body modal_container">
        <form action = '/user/create' method = "POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p><br>
          <label class="label_title">Course Name</label><br>
          <input type="text" name="course_name" required="true" class="input_edit"><br>
          <label class="label_title">Course ID</label><br>
          <input type="text" name="course_id" required="true" class="input_edit"><br>
          <label class="label_title">Department</label><br>
          <input type="text" name="department" required="true" class="input_edit"><br>
          <label class="label_title">Curator</label><br>
          <input type="text" name="curator" required="true" class="input_edit"><br>
        </p>
        <input type="submit" class="button_cd_update btn-success" value="Create"><br>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content edit_modal_frame">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" style="margin-top:5px;margin-right:10px;">
      &times;
      </button>
      <div class="modal-body edit_modal_container">
        <form action = '/user/import' method = "POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <p><br>
          <input type="file" name="data_file" required="true"><br>
        </p>
        <input type="submit" class="button_cd_update btn-success" value="Import"><br>
        </form>
      </div>
    </div>
  </div>
</div>
